* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 321px;
    height: 70px;
}

.menu {
    width: 30%;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: #0b0b0b;
    list-style: none;
}

.menu li, a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.04em;
    color: #0b0b0b;
    text-decoration: none;
}

.number-btn {
    border: 2px solid #6166DE;
    padding: 10px 20px;
    border-radius: 8px;
    color: #6166DE;
}



.main {
    background: url("images/background_2.png") no-repeat top;
}



.container {
    border: 1px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    /*position: absolute;*/
    width: 1078px;
    height: 80px;
    left: 206px;
    top: 471px;
    display: flex;

    background: #FFFFFF;
    box-shadow: 0 8px 40px rgba(157, 157, 157, 0.25);
    border-radius: 12px;
}

form input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 0 42px;
    border-radius: 12px;
    color: #c1c1c1;
    box-shadow: 0 8px 40px rgba(157, 157, 157, 0.25);
}

.btn-text {
    font-size: 16px;
    border: none;
    width: 231px;
    height: 80px;
    left: 1053px;
    top: 471px;
    color: #FFFFFF;

    background: #6166DE;
    border-radius: 0 12px 12px 0;
}
::placeholder {
    color: #c1c1c1;
}

.text-header {
    position: absolute;
    left: 206px;
    top: 202px;
    font-size: 24px;
    line-height: 74px;
    text-transform: uppercase;
    color: #383838;

}

.p-under-header {
    display: flex;
    left: 206px;
    top: 371px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.04em;
}
/*ФОНТ СДЕЛАТЬ ПОБОЛЬШЕ В КНОПКЕ*/
.btn-submit {
    letter-spacing: 0.04em;

    color: #6166DE;
    width: 231px;
    height: 80px;
    outline: none;
    border-radius: 12px;
    padding: 9px 25px;
    background-color: rgba(255,255,255, 0.3);
    border-width: 2px;
    border-color: #6166DE;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.video {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
/*Illuhas startus*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border-radius: 12px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 6vh;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
}

/* The Close Button */
.close {
    margin: 0.5rem 0.5rem;
    color: #aaa;
    float: right;
    position: relative;
    bottom: 60px;
    right: 50px;
    font-size: 50px;
    font-weight: bold;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

.b1{
    max-height: 150px;
    border: none;
    font-size: 20px;
    color: white;
    width:15vw;
    height: 8vh;
    background: #6166DE;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin-right: 1vw;
}

.p-modal{
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.modal-stuff{
    text-align: center;
    display: flex inline;
}

.choice-buttons{
    display: flex;
    justify-content: space-between;
}


/*Illuhas endus*/